<script type="text/javascript" src="__PUBLIC__/plugins/datepicker2/js/bootstrap-datepicker.js"></script>
<link rel="stylesheet" href="__PUBLIC__/plugins/datepicker2/css/datepicker.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
     {$postion.0.name}
     <small>ZhongJi</small>
   </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 管理中心</a></li>
    <volist name="postion" id="val">
    <li <if condition="$val.id eq $menuid">class="active"</if>><a href="{:U($val['url'])}">{$val.name}</a></li>
    </volist>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="col-xs-1" style="padding-bottom:10px;">
      <button class="btn btn-block btn-primary btn-xs" onclick="{location.href='{:U('Notice/add')}'}">添加通知</button>
    </div>
  </div>
</div>
<div class="row"> 
  <div class="col-xs-12">
<div class="row">
  <div class="col-xs-12">
    <div class="box">
    <form action="">
    <input type="hidden" name="m" value="{:MODULE_NAME}">
    <input type="hidden" name="c" value="{:CONTROLLER_NAME}">
    <input type="hidden" name="a" value="{:ACTION_NAME}">
      <div class="box-header">
        <h3 class="box-title">通知列表</h3>
        <div class="box-tools">
          <div class="input-group" style="width: 150px;">
           <input type="text" name="name" class="form-control input-sm pull-right" value="{$name}" placeholder="搜索">
           <div class="input-group-btn">
             <button class="btn btn-sm btn-default" type="submit"><i class="fa fa-search"></i></button>
           </div>
         </div>
       </div>
     </div><!-- /.box-header -->
     </form>
     <div class="box-body table-responsive no-padding">
       <table class="table table-hover">
         <tr>
           <th>ID</th>
           <th>标题</th>
           <th>添加时间</th>
           <th>操作</th>
         </tr>
         <foreach name="notlist" item="val" >
         <tr>
           <td>{$val.id}</td>
           <td>{$val.title|substr=0,60}</td>
           <td>{$val.add_time|date='Y-m-d',###}</td>
           <td width="60"><button class="btn btn-block btn-danger btn-xs confirm"  rel="{$val.id}" data-toggle="modal" data-target="#confirm" type="button">删除</button></td>
         </tr>
     	</foreach>
       </table>
     </div><!-- /.box-body -->
      <div class="box-footer clearfix">
       <ul class="pagination pagination-sm no-margin pull-right">
         {$page}
       </ul>
     </div>
   </div><!-- /.box -->
    </div>
  </div>
</section><!-- /.content -->
</div><!-- /.content-wrapper --> 
<script>
$(document).ready(function(){
	$('.confirm').click(function(){
		var id = $(this).attr('rel');
		$('#proj_id').val(id);
	});
});
</script>
<form action="{:U('Notice/delete')}" method="post">
<div class="modal fade" id="confirm" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">确认删除</h4>
      </div>
      <div class="modal-body">
      <p>确认删除该通知？</p>
      <input type="hidden" id="proj_id" name="proj_id" value="">
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-default pull-left" type="button">关闭</button>
        <button class="btn btn-primary" type="submit">确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</form>